modLoader = "javafml"
loaderVersion = "${loader_version_range}"
license = "${mod_license}"

[[mods]]
enumExtensions = "META-INF/enumextensions.json"
modId = "${mod_id}"
version = "${mod_version}"
displayName = "${mod_name}"
logoFile = "fantasytools_logo.png"
authors = "${mod_authors}"
description = '''${mod_description}'''

[[mixins]]
config = "${mod_id}.mixins.json"

[[dependencies.${ mod_id }]]
modId = "neoforge"
type = "required"
versionRange = "${neo_version_range}"
ordering = "NONE"
side = "BOTH"

[[dependencies.${ mod_id }]]
modId = "minecraft"
type = "required"

versionRange = "${minecraft_version_range}"
ordering = "NONE"
side = "BOTH"

[[dependencies.${ mod_id }]]
modId = "curios"
type = "required"
versionRange = "${curios_version_range}"
ordering = "AFTER"
side = "BOTH"
